<!Doctype html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="css/pample.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <title>PLAY ME!!!!</title>
    </head>
    <body>
      <img src="img/alien-boy.png" />
      <div>
        <label>Name</label><p>{% name %}</p>
        <label>Reading</label><p>4</p>
        <label>Writing</label><p>5</p>
        <label>Listening</label><p>4</p>
        <label>Speaking</label><p>1</p>
      </div>
      <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/pample.js"></script>
    </body>
</html>
