#footer {
  text-align: right;
  padding-right: 20px;
  position: absolute;
  bottom: 10px;
  right: 20px; }

.content.splash .kerpany-logo img {
  margin-left: -341px;
  padding-left: 50%;
  height: 208px; }
.content.splash .alien-boy {
  height: 440px; }
.content.splash .center-row {
  text-align: center; }
.content.splash .alien-adventures-txt {
  margin-top: 30px;
  margin-bottom: 50px; }
.content.splash .alien-adventures-txt img {
  width: 300px; }
.content.splash .center-row.row.mc {
  margin-left: -200px;
  padding-left: 50%; }
.content.splash .mc #mc_embed_signup .mc-field-group input {
  width: 400px; }
.content.splash .btn-image {
  background-repeat: no-repeat;
  background-position: left top;
  width: 186px;
  height: 53px;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  color: transparent; }
.content.splash #btn-add {
  background-image: url(/static/img/alien-boy-add.png); }
.content.splash #btn-login {
  background-image: url(/static/img/login.png); }
.content.splash .secret-login {
  position: absolute;
  top: 20px;
  right: 62px; }
  .content.splash .secret-login .star-outer {
    position: absolute;
    left: 0px;
    color: #f5b715;
    z-index: 1;
    font-size: 32px; }
  .content.splash .secret-login .star-inner {
    position: absolute;
    font-size: 32px;
    color: #ffeb1e; }
.content.splash .secret-login:hover {
  -webkit-transform-origin: 50% 50%;
  -webkit-animation: star-wiggle 2s; }

.content.pamps {
  text-align: center;
  background: #454545; }
  .content.pamps .speech-bubble {
    z-index: 10;
    position: absolute;
    border-image-source: url("../img/SpeechBubble.png");
    border-image-slice: 14 19 23 21 fill;
    border-width: 8px;
    width: 120px; }
  .content.pamps .footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #454545;
    border: solid 12px #454545;
    color: #eee; }
    .content.pamps .footer ul {
      list-style: none; }
      .content.pamps .footer ul li {
        display: inline-block; }
    .content.pamps .footer .dashy-info {
      width: 250px;
      display: inline-block; }
    .content.pamps .footer .dashy-input {
      display: inline; }
      .content.pamps .footer .dashy-input input {
        width: 400px; }
    .content.pamps .footer .dashy-settings {
      display: inline-block; }

.content.money .page-heading {
  text-align: center; }
.content.money .page-subtitle {
  font-size: 16px; }
.content.money .donation-goals {
  width: 100%; }
.content.money .example-image {
  height: 200px; }
.content.money .goal-box {
  text-align: center;
  padding-top: 40px; }
.content.money .goal-left {
  position: absolute;
  left: 0px;
  font-size: 24px;
  padding-top: 88px; }
.content.money .goal-right {
  position: absolute;
  right: 0px;
  font-size: 24px;
  padding-top: 88px; }
.content.money .shape {
  width: 201px;
  height: 194px;
  position: absolute;
  right: 25px;
  top: -46px; }
.content.money .star {
  /*background-image: url('../img/star-empty.png');
  &.full {
    background-image: url('../img/star-full.png');
  }*/
  position: absolute;
  top: -58px;
  right: -75px;
  height: 120px; }
.content.money .progress {
  position: relative;
  overflow: visible;
  margin-left: -50px; }
.content.money .progress-bar {
  background-color: #DB5D83;
  border-color: #a92c52; }

/*# sourceMappingURL=pamplev1.css.map */
