.kerpany-logo img{
  margin-left: -341px;
  padding-left: 50%;
  height: 208px;
}

.alien-boy {
  height: 440px;
}
.center-row {
  text-align: center;
}

.alien-adventures-txt {
  margin-top: 30px;
  margin-bottom: 50px;
}

.alien-adventures-txt img{
  width: 300px;
  //transform: rotate(-15deg);
}

.center-row.row.mc{
  margin-left: -200px;
  padding-left: 50%;
}

.mc #mc_embed_signup .mc-field-group input {
  width: 400px;
}

#footer {
  text-align: right;
  padding-right: 20px;
}

.btn-image {
  background-repeat: no-repeat;
  background-position: left top;
  width: 186px;
  height: 53px;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
  outline: 0;
  color: rgba(0,0,0,0);
}

#btn-add {
  background-image: url(/static/img/alien-boy-add.png);
}

#btn-login {
  background-image: url(/static/img/login.png)
}