<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="/static/ipa-learnorator/ipa-learnorator.css" />
  <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <title>IPA Learnorator</title>
</head>

<body>
  {% include "ipa-learnorator/ipa-nav.html" %}
  {% include "ipa-learnorator/ipa-content.html" %}
  {% include "ipa-learnorator/ipa-chartmodal.html" %}
  {% include "ipa-learnorator/ipa-definitions.html" %}
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/ipa-learnorator/ipa-learnorator.js"></script>
</body>

</html>