  <div class="content">
    <!-- /row -->
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 sound-wrap">
        <a class="sound-button-main"><audio class="sound-main"></audio><div class="speaker"></div></a>
      </div>
      <!-- /col-sm-4 -->
      <div class="col-sm-4 col-sm-offset-4 input-col">
        <p> listen to the word and type the corresponding IPA transliteration</p>
        <p class="invisible-word"></p>
        <div class="input-group">
          <input class="form-control ipa-box" placeholder="/blu/" />
          <span class="input-group-btn">
            <button id="amiright" class="btn btn-default" type="button">am i right?</button>
          </span>
        </div>
        <!-- /input-group -->
        <div class="success submit-msg">Weeehooo! You got it!</div>
        <div class="failure submit-msg">Booger, that's not quite it.</div>
      </div>
      <!-- /col-sm-4 -->
    </div>
    <!-- /row -->
    <div class="row keyboard">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="row vowels">
          <div class="key">
            <div class="key-touche">
              <span>1</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Close_front_unrounded_vowel.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="closed front unrounded" class="letter">i</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>2</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Near-close_near-front_unrounded_vowel.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>

            <div class="key-letter">
              <span title="near-close near-front unrounded" class="letter">ɪ</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>3</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/5/5d/Close_back_rounded_vowel.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="close back rounded" class="letter">u</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>4</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/d/d5/Near-close_near-back_rounded_vowel.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="near-close near-back rounded" class="letter">ʊ</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>5</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/7/71/Open-mid_front_unrounded_vowel.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="open mid-front unrounded" class="letter">ɛ</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>6</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/d/d9/Mid-central_vowel.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="close front" class="letter">ə</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>7</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/0/02/Open-mid_back_rounded_vowel.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="open-mid back rounded" class="letter">ɔ</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>8</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/c/c9/Near-open_front_unrounded_vowel.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="near-open unrounded" class="letter">æ</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>9</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/9/92/Open-mid_back_unrounded_vowel.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="open-mid back unrounded" class="letter">ʌ</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>0</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/e/e5/Open_back_unrounded_vowel.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="open back unrounded" class="letter">ɑ</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>ctrl-0</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/1/16/Regular_and_r-colored_vowels.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="close front" class="letter">ɚ</span>
            </div>
          </div>
          <!-- /key -->
        </div>

        <div class="row special-char">
          <div class="key">
            <div class="key-touche">
              <span>ctrl-n</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/3/39/Velar_nasal.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="voiced velar nasal" class='voiced letter'>ŋ</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>ctrl-s</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/c/cc/Voiceless_palato-alveolar_sibilant.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="voiceless palato-alveolar sibilant" class='voiceless letter'>ʃ</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>ctrl-j</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/3/30/Voiced_palato-alveolar_sibilant.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="voiced palato-alveolar sibilant" class='voiced letter'>ʒ</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>ctrl-t</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/8/80/Voiceless_dental_fricative.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="voiceless dental fricative" class='voiceless letter'>θ</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>ctrl-d</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/6/6a/Voiced_dental_fricative.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="voiced dental fricative" class='voiced letter'>ð</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>ctrl-h</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/9/97/Voiceless_palato-alveolar_affricate.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="voiceless palato-alveolar affricative" class="voiceless letter">tʃ</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>ctrl-g</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Voiced_palato-alveolar_affricate.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="voiced palato-alveolar affricative" class="voiced letter">dʒ</span>
            </div>
          </div>
          <!-- /key -->
        </div>

        <div class="row">
          <div class="key nopekey">
            <div class="key-touche">
              <span>&nbsp;</span>
            </div>
            <div class="key-letter">
              <span>q</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>w</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/f/f2/Voiced_labio-velar_approximant.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="voiced labio-velar approximant" class="voiced letter">w</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key nopekey">
            <div class="key-touche">
              <span>&nbsp;</span>
            </div>
            <div class="key-letter">
              <span>e</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>r</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/1/1f/Alveolar_approximant.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="voiced alveolar approximant" class='voiced letter'>ɹ</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>t</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/0/02/Voiceless_alveolar_plosive.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="voiceless alveolar stop" class='voiceless letter'>t</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key nopekey">
            <div class="key-touche">
              <span>&nbsp;</span>
            </div>
            <div class="key-letter">
              <span>y</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key nopekey">
            <div class="key-touche">
              <span>&nbsp;</span>
            </div>
            <div class="key-letter">
              <span>u</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key nopekey">
            <div class="key-touche">
              <span>&nbsp;</span>
            </div>
            <div class="key-letter">
              <span>i</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key nopekey">
            <div class="key-touche">
              <span>&nbsp;</span>
            </div>
            <div class="key-letter">
              <span>o</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>p</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/5/51/Voiceless_bilabial_plosive.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="voiceless bilabial stop" class='voiceless letter'>p</span>
            </div>
          </div>
          <!-- /key -->
        </div>
        <div class="row">
          <div class="key nopekey">
            <div class="key-touche">
              <span>&nbsp;</span>
            </div>
            <div class="key-letter">
              <span class='voiceless'>a</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>s</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Voiceless_alveolar_sibilant.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="voiceless alveolar sibilant" class='voiceless letter'>s</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>d</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/0/01/Voiced_alveolar_plosive.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="voiced alveolar stop" class='voiced letter'>d</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>f</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/3/33/Voiceless_labiodental_fricative.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="voiceless labialdental fricative" class='voiceless letter'>f</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>g</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/transcoded/5/58/Voiced_velar_stop.ogg/Voiced_velar_stop.ogg.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="voiced velar stop" class='voiced letter'>ɡ</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>h</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Voiceless_glottal_fricative.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="voiceless glottal fricative" class='voiceless letter'>h</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>j</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/e/e8/Palatal_approximant.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="voiced palatal approximant" class='voiced letter'>j</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>k</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/e/e3/Voiceless_velar_plosive.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="voiceless velar stop" class='voiceless letter'>k</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>l</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Alveolar_lateral_approximant.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="voiced alveolar lateral" class='voiced letter'>l</span>
            </div>
          </div>
          <!-- /key -->
        </div>
        <div class="row">
          <div class="key">
            <div class="key-touche">
              <span>z</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/c/c0/Voiced_alveolar_sibilant.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="voiced alveolar sibiliant" class='voiced letter'>z</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key nopekey">
            <div class="key-touche">
              <span>&nbsp;</span>
            </div>
            <div class="key-letter">
              <span>x</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key nopekey">
            <div class="key-touche">
              <span>&nbsp;</span>
            </div>
            <div class="key-letter">
              <span>c</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>v</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/8/85/Voiced_labiodental_fricative.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="voiced labial fricative" class='voiced letter'>v</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>b</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Voiced_bilabial_plosive.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="voiced bilabial stop" class='voiced letter'>b</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>n</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/2/29/Alveolar_nasal.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="voiced alveolar nasal" class='voiced letter'>n</span>
            </div>
          </div>
          <!-- /key -->
          <div class="key">
            <div class="key-touche">
              <span>m</span>
            </div>
            <div class="key-sound">
              <a class="sound-button"><audio class="sound" src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Bilabial_nasal.ogg"></audio><img class="speaker-lil" src="/static/ipa-learnorator/speaker.png" /></a>
            </div>
            <div class="key-letter">
              <span title="voiced bilabial nasal" class='voiced letter'>m</span>
            </div>
          </div>
          <!-- /key -->
        </div>
      </div>
      <!-- /col-8 -->
    </div>
    <!-- /row -->
  </div>
