<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="static/css/pamplev1.css" />
    <link rel="stylesheet" href="static/libs/bootstrap-3.2.0/css/bootstrap.min.css" type="text/css" />
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
    {% block styles %}{% endblock %}
    <title>Pample Language Learning Lab</title>
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
    {% block footer %}
      <p>&copy; Copyright 2015</p>
    {% endblock %}
    <script type="text/javascript" src="static/libs/jquery-2.1.1/jquery-2.1.1.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>