<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="static/css/pamplev1.css" />
    <link rel="stylesheet" href="static/libs/bootstrap-3.2.0/css/bootstrap.min.css" type="text/css" />
    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon" />
    {% block styles %}{% endblock %}
    {% block varscript %}{% endblock %}
    <title>Pample Language Learning Lab</title>
  </head>
  <body>
    {% block content %}{% endblock %}
    {% block footer %}
      <div id="footer">
        <p>&copy; Copyright 2015</p>
      </div>
    {% endblock %}
    <script type="text/javascript" src="static/libs/jquery-2.1.1/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="static/libs/bootstrap-3.2.0/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-64574673-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>