{% extends "base.html" %}
    {% block styles %}
      <link rel="stylesheet" href="static/css/larkus.css" type="text/css" />
    {% endblock %}
{% block content %}
    <div class="container">
      <div class="col-sm-offset-6 col-sm-6">
        <div class="lark-box">
          <img class="slimage" src="static/img/saverucas.png" />
          <p> Want a shirt? I just need your t-shirt size, a prefered color (plus a back up), and some dolla dolla bills.</p>
          <p> Price around $20, but may inflate with cost of supplies and shipping.</p>
          <p> Send all t-shirt inquiries to <a href="mailto:savelucas@grace.cat">savelucas@grace.cat</a></p>
          <p> Payments can be made through venmo, simple bank, check, life debt, or cold hard cash if delivered in person. </p>
          <!--<p>Our dear friend is in need. He has thus far escaped the clutches of the corporate wasteland that threatened to claim his soul turning his once brilliant mind into yet another money making drone.</p>
          <p> We have done well so far, but peril is never more than a few steps away. Do your part and spread awareness of this treachory by garbing yourself with official SAVE LUCAS apparel</p>
          <p>Send all t-shirt inquiries to <a href="mailto:link@grace.cat">link@grace.cat</a>. For expediated processing please include t-shirt size and a list of color you wouldn't hate wearing.</p>
          <p>All shirt colors change with the season based on the arbitrary choices of fashion designers that then trickle down to supermarkets where the shirts are sourced</p>
          <p>Ink color can will vary such that it complements the shirt, but will generally be some dark hue for optimal visibility.</p>-->
        </div>
      </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}