{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
{% endblock %}
{% block varscript %}<script> level = '{{ level }}'; </script> {% endblock %}
{% block content %}
  <div class="content pamps">
    <canvas id="game"></canvas>
    <div class="dialog">
      <div class="dialog-content">
        <a><i class="fa fa-close ex"></i></a>
        <input class="talkbox" id="talkbox" type="text" />
        <div class="speech-chunk">
          <div class="spriticon-left"></div>
          <div class="speech-bubble">hi this is a speech bubble</div>
        </div>
        <div class="speech-chunk">
          <div class="spriticon-right"></div>
          <div class="speech-bubble-rev">a different bubble</div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block footer %}
  <footer class="footer">
    <div class="dashy-info">
      <ul>
        <li><i class="fa fa-book"></i>: 100</li>
        <li><i class="fa fa-pencil"></i>: 90</li>
        <li><i class="fa fa-headphones"></i>: 120</li>
        <li><i class="fa fa-microphone"></i>: 80</li>
      </ul>
    </div>
    <div class="dashy-input">
    <input id="main-input" />
    </div>
    <div class="dashy-settings">
      <ul>
        <li><a href="/pamps/{{ user }}"><i class="fa fa-user"></i></a></li>
        <li><a href="/logout"><i class="fa fa-sign-out"></i></a></li>
      </ul>
    </div>
 </footer>
{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="static/js/pamps.js"></script>
  <script type="text/javascript" src="static/js/map.js"></script>
{% endblock %}